<li class="h-cart">
    <a class="cart-contents" href="{% url 'web:carrito' %}">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <span>${{request.session.cart.items|length }}</span>
        </p>
        <p class="h-cart-total">${{request.session.montototal }}</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            {% for key,value in request.session.cart.items %}   

            <ul class="cart_list">
               
                
                <li>
                    <a href="{% url 'web:eliminarproducto' value.producto_id %}" class="remove">&times;</a>
                    <a href="#">
                        <img src="{{value.imagen}}" alt="">
                        {{value.nombre}}
                    </a>
                    <span class="quantity">{{value.cantidad}} &times; {{value.precio}}</span>
                </li>
                
            </ul>
            
            <p class="total"><b>Subtotal:</b> {{value.subtotal}}</p>
            {% endfor %}
            <p class="buttons">
                <a href="#" class="button">Ver Carrito</a>
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>