<li class="h-cart">
    <a class="cart-contents" href="{%url 'web:carrito' %}">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <span>{{request.session.cart.items|length}}</span>
        </p>
        <p class="h-cart-total">${{request.session.montototal}}</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <ul class="cart_list">
                {% for key,value in request.session.cart.items %}
                <li>
                    <a href="{% url 'web:eliminarproducto' value.producto_id %}" class="remove">&times;</a>
                    {% if value.imagen %}
                        <img src="{{value.imagen}}" alt="">
                        {{value.nombre}}
                    {% else %}
                        <img src="https://placehold.co/250" alt="">
                        {{value.nombre}}
                    {% endif %}
                    <a href="#">
                        <!-- <img src="{{value.imagen}}" alt="">
                        {{value.nombre}}
                    </a> -->
                    <span class="quantity">{{value.cantidad}} &times; ${{value.subtotal}}</span>
                </li>
                {% endfor %}
            </ul>
            <p class="total"><b>Total:</b> ${{request.session.montototal}}</p>
            <p class="buttons">
                <a href="{%url 'web:carrito' %}" class="button">Ver Carrito</a> 
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>

