<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Categorias</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for categoria in categorias %}
            <li>
                <a href="{{ categoria.get_absolute_url }}">
                    <span class="section-sb-label">{{categoria.nombre}} 
                        <span class="count">{{categoria.producto_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Marcas</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for marca in marcas %}
            <li>
                <a href="{{ marca.get_absolute_url }}">
                    <span class="section-sb-label">{{marca.nombre}} 
                        <span class="count">{{marca.producto_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Combustible</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for combustible in combustibles %}
            <li>
                <a href="{{ combustible.get_absolute_url }}">
                    <span class="section-sb-label">{{combustible.nombre}} 
                        <span class="count">{{combustible.producto_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Referencia</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for referencia in referencias %}
            <li>
                <a href="{{ referencia.get_absolute_url }}">
                    <span class="section-sb-label">{{referencia.nombre}} 
                        <span class="count">{{referencia.producto_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Tipo</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for tipo in tipos %}
            <li>
                <a href="{{ tipo.get_absolute_url }}">
                    <span class="section-sb-label">{{tipo.nombre}} 
                        <span class="count">{{tipo.producto_set.all.count}}</span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>